<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>My Page</title>
    <script src="http://code.angularjs.org/1.2.13/angular.js"></script>
</head>
<body >
    <h1 class="h-prime"><i><b>Words Calculate</b></i></h1>
  <div ng-controller="FirstCtrl as lol">
  <form>
    <textarea placeholder="Please Input Your Text" ng-model="lol.textArea"></textarea>

    <button type="button"  ng-click="lol.calculate()">Show Result</button>


  <span> {{ lol.resultSpace }} </span>
  <span>{{ lol.resultWords }}</span>
  <span>{{ lol.resultLetters }}</span>

  </form>

  </div>

<script type="text/javascript" src="controller.js"></script>


</body>
</html>
