<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="home.js"></script>
</head>

<body>
    <script>
        var strin = `
    <div>
        <span>{{name}}</span>
        <span>{{text}}</span>
        <span>{{age}}</span>
        <span>{{work}}</span>

    </div>`;

        list = [{
                name: 'Kolea',
                text: 'kolea molodets'
            }, {
                name: 'Vasea',
                text: 'vasea molodets'
            },

            {
                name: 'Petya',
                text: 'petya molodets'
            },

            {
                name: 'Nikifor',
                text: 'nikifor molodets'
            },

            {
                name: 'Inokentii',
                text: 'inokentii molodets'
            },

            {
                name: 'Vitiok',
                text: 'vitiok molodets'
            },

            {
                name: 'Jorik',
                text: 'jorik molodets'
            }
        ]

        function Templater(str, list) {
            this.str = str;
            this.list = list;
            this.res = '';

            this.render = function() {
                    this.a(str, list);
                },
                this.getTpl = function() {
                    return this.res;
                },
                this.parse = function(str, obj) {
                    var s = str;
                    var result = '';
                    var currentKey = '';
                    var atStart = null;
                    var atEnd = null;

                    while (s.length > 0) {

                        atStart = s.indexOf('{{');

                        result += s.slice(0, atStart);

                        s = s.slice(atStart + 2);

                        atEnd = s.indexOf('}}');

                        currentKey = s.slice(0, atEnd);

                        result += obj[currentKey];

                        s = s.slice(atEnd + 2);

                        if (s.indexOf('{{') == -1) {
                            result += s;
                            s = "";
                        }
                        atStart = null;
                        atEnd = null;
                        currentKey = '';
                    }
                    return result;
                },


                this.a = function() {
                    for (var i = 0; i < this.list.length; i++) {
                        this.res += this.parse(this.str, this.list[i]);
                    }
                }

        };
        var pars = new Templater();

        console.log(pars.parse(strin, {
            name: 'Kolea',
            text: 'kolea molodets',
            age: 150,
            work: "lodiri"
        }));
    </script>

</body>

</html>
