<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>My Page</title>
  <script src="../bower_components/angular/angular.js"></script>
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body ng-cloack>
  <div ng-controller="FirstCtrl as first" class="firstDiv">
    <h1><i><b>My ToDo List</b></i></h1>
    <h2>You've got {{ first.getTotalTodos()}} things to do</h2>
    <label>Click me:

      <select name="name" id="id" ng-init="first.type = 'table'" ng-model="first.type">Select
      <option value="list">List</option>
      <option value="table" >Table</option>
      </select>
    </label>
    <br/> Show when checked:
    <span ng-if="first.type == 'list'">
      <ul>
        <li ng-repeat="todo in first.todos"  >
          <input type="checkbox" ng-model="todo.done" />
          <span ng-class="{'cl': todo.done == true}" >{{todo.text}} </span>
          <button ng-click="first.clearCompleted($index)">x</button>
        </li>
      </ul>
  </span>
  <span ng-if="first.type == 'table'">
    <table class="halo">
        <tr ng-repeat="todo in first.todos" class="secondLi" ng-if="todo.text != 'xxx'">
      <td>
        <input type="checkbox" ng-model="todo.done" />
        <span ng-class="{'cl': todo.done == true}">{{todo.text}} </span>
        <button ng-click="first.clearCompleted($index)">x</button>
      </td>
      </tr>
    </table>
</span>
  <form class="firstBut">
    <input placeholder="I need to..." type="text" ng-model="first.formTodoText" />
    <button  ng-click="first.addTodo()">Add</button>
  </form>
  </div>
  <script type="text/javascript" src="controller.js"></script>
</body>

</html>
