<div>
    <h3>add new post</h3>
    <p>
        <input type="text" ng-model="blog.post.id" placeholder="id">
    </p>
    <p>
        <input type="text" ng-model="blog.post.title" placeholder="title">
    </p>
    <p>
        <input type="text" ng-model="blog.post.text" placeholder="text">
    </p>
    <p>
        <button ng-click="blog.addPost()">add post</button>
    </p>
</div>

<div>
    <button ng-click="blog.getPosts()">get all posts</button>
</div>

<div ng-repeat="post in blog.posts">
    <div>
        {{ post.id }}
    </div>
    <div>
        {{ post.title }}
    </div>

    <div>
        {{ post.text }}
    </div>
    <hr>
</div>
