body{
  margin: 0px;
  padding: 0px;
  background-image: url("../img/2.jpg");
  background-size: cover;
}

.left-nav{
  margin-left: 1200px;
  padding-right: 20px;
}

.form-control{
  width: 400px;
  margin-top: 20px;
}
.btn-success {
    margin-top: 27px;
    right: 821px;
    width: 150px;
    position: absolute;
}
.reg-form{
  margin-left: 300px;
}
p{
  color: rgb(56, 92, 134);
}

.h-prime{
  color: grey;
  margin-left: 27%;
}
.required{
  color: green;
  font-size: 13px;
}
