
  <div class="animation-wrapper">
	<div class="animation-inner">
		<div class="base-top"></div>
		<div class="base-bottom"></div>
		<div class="base-left"></div>
		<div class="base-right"></div>
		<div class="base-front"></div>
		<div class="base-back"></div>

		<div class="screen">
			<div class="screen-front"></div>
			<div class="screen-back"></div>
			<div class="screen-left"></div>
			<div class="screen-right"></div>
			<div class="screen-bottom"></div>
			<div class="screen-top"></div>
		</div>
	</div>
</div>
