.firstDiv {
  margin: 0 auto;
  width: 800px;
}

ul {
  text-align: center;
  list-style: none;
  background-color: aqua;
  width: 100%;

}

li {
  height: 50px;
  font-size: 20px;
  color: green;
  font-style: italic;

}

.cl {
  text-decoration: line-through;
}

.halo{
  background-color: grey;
  border-radius: 15px;
  width: 800px;
}
.secondLi{
  font-weight: bold;
  font-size: 25px;
}
.firstBut{
  margin-top: 30px;
  margin-left: 630px;
}
