<div class="container about-info">
    <div class="row">
        <div class="col-md-4">
             <img src="{{info.about.img}}" alt="image" />
        </div>
        <div class="col-md-6 col-md-offset-1">
            <h1>{{info.about.title}}</h1>
            <p>
                {{info.about.text}}
            </p>
            <button type="button" name="button"  class="btn btn-success" ui-sref="home.posts">Back To Posts</button>
        </div>
    </div>
</div>
