<h1>{{ main.header }}</h1>
<div class="sidebar">
    <a ui-sref="main">Main</a>
    <a ui-sref="main.blog">Blog</a>
    <a ui-sref="main.contacts">Contacts</a>
    <u ng-click="main.goToBlog()">Go to blog from {{ main.state }}</u>
</div>
<div class="content">
    <div ui-view></div>
</div>
