body{
  margin: 0;
  padding: 0;
  background-color: grey;
  background-image: url('../images/5.jpg');
  background-size: cover;
}

#butik{
  margin-left: 1500px;
}
#ser{
  width: 1200px;
  height: 450px;
  border: 3px solid grey;
  color: aqua;
  font-size: 16px;
  font-style: italic;
  overflow: auto;
  margin: 0 auto;
}
button{text-decoration:none; text-align:center;
  padding-top: 0px;

 padding:11px 44px;
 border:solid 1px #004F72;
 -webkit-border-radius:14px;
 -moz-border-radius:14px;
 border-radius: 14px;
 font:18px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 font-weight:bold;
 color:#e5ffff;
 background-color:#3BA4C7;
 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 );
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
button:hover{
/*transform: rotate(1deg);*/
 padding:11px 32px;
 border:solid 1px #004F72;
 -webkit-border-radius:12px;
 -moz-border-radius:12px;
 border-radius: 12px;
 font:20px Tahoma, Geneva, sans-serif;
 font-weight:bold;
 color:#00ffff;
 background-color:#3BA4C7;
 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 );
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
 -webkit-box-shadow:6px 5px 2px #bababa, inset 0px 0px 1px #ffffff;
 -moz-box-shadow: 6px 5px 2px #bababa,  inset 0px 0px 1px #ffffff;
 box-shadow:6px 5px 2px #bababa, inset 0px 0px 1px #ffffff;

 text-shadow: 3px 0px 3px #bababa;
 filter: dropshadow(color=#bababa, offx=3, offy=0);}.button:active{
 padding:11px 32px;
 border:solid 1px #004F72;
 -webkit-border-radius:4px;
 -moz-border-radius:4px;
 border-radius: 4px;
 font:18px Arial, Helvetica, sans-serif;
 font-weight:bold;
 color:#E5FFFF;
 background-color:#3BA4C7;
 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 );
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

 }
 #delet{
   margin-left: 1600px;
 }
