body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #fefcea, #00608e);
    height: 1500px;
}
#inp {
    margin-top: 50px;
    width: 800px;
    height: 440px;
    margin: 0 auto;
}
.butts{
  margin-left: 900px;
  margin-top: 15px;
}
.in {
    margin-bottom: 54px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    font-style: italic;
    color: teal;
    border: 3px solid;
}
.newdiv{
  margin-top: 20px;
}
.newTab{
  border:3px solid teal;
  cellpadding: 15px;
  /*background-color: #0caaf6;*/
  background: linear-gradient(to top, #fefcea, #0caaf6);
  width: 800px;
  height: 300px;
  text-align: center;
  margin: 0 auto;
  color: #3b4134;
  font-size: 25px;
  font-family: arial;
  font-style: italic;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
.newTab td{
  border-bottom: 0.5px solid grey;
  border-radius: 15px;
}
.int {
    height: 50px;
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    font-style: italic;
    color: teal;
    margin-bottom: 54px;
    border: 3px solid;
    margin-left: 14px;
    margin-top: 14px;
}
form {
    margin: 0 auto;
}

button {
    width: 200px;
    height: 50px;
    font-size: 18px;
    color: steelblue;
    border-radius: 5px;
    transition: 0.8s;
}
button:hover{
  background-color: #3fd1c8;
  font-size: 20px;
  font-family: fantasy;
  color: black;
  width: 250px;
}
#bt5{
  position: fixed;
}
#entry {
    width: 800px;
    height: 2000px;
    border: 3px solid steelblue;
    margin: 0 auto;
}
/*td:hover{
  cursor: pointer;
  background-color: black;
  color: aqua;
}*/
