<div class="content">
  <nav class="nav-wrapper grey darken-3">
    <ul  id="nav-mobile" class="left hide-on-med-and-down">
      <li>
        <a ui-sref="main.home">Home</a>
      </li>
      <li>
        <a ui-sref="main.blog.list">Blog</a>
      </li>
      <li class="left-nav">
        <a ui-sref="main.contacts">Contacts</a>
      </li>
    </ul>
  </nav>
</div>

<div class="content">
    <div ui-view></div>
    <div class="prime-img">

    </div>
    <div class="super-man">

        <img src="images/z1.png" class="super-img" alt="super" />
    </div>
</div>

<!-- <div class="wrapper">
<section class="cardcontainer">
  <div id="card">
    <figure class="front"><img src="https://puu.sh/quaxK/c281f5ea75.svg" class="super1"></figure>

    <figure class="back"><img src="https://puu.sh/quani/f1145a8fb3.svg" class="super"></figure>
  </div>
</section>
  <div class="textbox">
    <p>Hi there! We've upgraded from our tank to the ocean. To <b>Big Sea</b>, that is. Swim over and see what we're up to now that we've merged to become St. Petersburg's leading digital marketing agency.<span>We hope to see you soon!</span><a href="http://bigseadesign.com" class="button">Visit Big Sea</a></p>

  </div>
</div> -->
