<div class="container add-container">
    <div class="row add-book">
        <div class="col-md-4 col-md-offset-4">
            <label for="title">Title of the Book</label><br>
            <input class="form-control" type="text" name="title" placeholder="Title" ng-model="add.post.title"><br>
            <label for="img">Image Url</label><br>
            <input class="form-control" type="text" name="img" placeholder="Image Url" ng-model="add.post.img"><br>
            <label for="text">Description</label><br>
            <textarea class="form-control" name="text" rows="8" cols="40" placeholder="Description of the book..." ng-model="add.post.text"></textarea>
            <button type="button" name="button"  class="btn btn-success" ng-click="add.sendData()">Add Post</button>
        </div>
    </div>
</div>
