<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1" ng-repeat="item in post.posts | filter:query">
            <div class="post-item" ng-click="post.goToPost(item.posts.id)">
                <div class="post-image">
                    <img src="{{item.posts.img}}" alt="image"/>
                </div>
            </div>
        </div>
    </div>
</div>
