<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <title>My Page</title>
  <script src="../bower_components/angular/angular.js"></script>
</head>

<body ng-cloack>
  <h1 class="h-prime"><i><b>My First Calculator</b></i></h1>
  <div>
    <form>
      <input type="number" class="form-control" placeholder="First Num" ng-model="firstNum" required>
      <input type="number" class="form-control" placeholder="Second Num" ng-model="secondNum" required>
      <button type="button" class="btn btn-success" ng-click="result = firstNum + secondNum">+</button>
      <button type="button" class="btn btn-success" ng-click="result = firstNum / secondNum">/</button>
      <button type="button" class="btn btn-success" ng-click="result = firstNum * secondNum">*</button>
      <button type="button" class="btn btn-success" ng-click="result = firstNum - secondNum">-</button>
      <br>
      <br>
      <span ng-show="result"> {{ result }} </span>
    </form>
  </div>
  <script type="text/javascript" src="controller.js"></script>
</body>

</html>
