<div id="inp">
  <input type="text" size="50" value="{{Author}}" class="autor in" data-index="1" id="autor">
  <input type="text" size="50" value="{{Title}}" class="title in" data-index="2" id="title">
  <input type="text" size="50" value="{{Text}}" class="text in" data-index="3" id="text">
  <input type="text" size="50" value="{{EntryId}}" class="int text" data-index="4" style="display : none;" id="entryid">
  <button id="bt8" type="button" class="editer">Save Data</button>
</div>
