<div id="inp">
<div>
  <input type="text" size="50" placeholder="Author" id="autor"  class="in">
  <input type="text" size="50" placeholder="Title" id="title"  class="in">
  <input type="text" size="50" placeholder="Text" id="text"  class="in">
</div>
<button id="bt1" class="butt" type="button" data-ev="1">Save Data</button>
</div>
