
<div class="newdiv">
<table class="newTab">
  <tr><td>{{Author}}</td></tr>
  <tr><td>{{Title}}</td></tr>
  <tr><td>{{Text}}</td></tr>
</table>
<div class="butts">
<button id="bt3" type="button" class="edit" data-ent="{{EntryId}}">Edit Data</button>
<button id="bt4" type="button" class="delet" data-ent="{{EntryId}}">Delete Data</button>
</div>
</div>
