<div class="userInfo">
    <div class="panel panel-default">
      <div class="panel-heading">Name</div>
      <div class="panel-body">
        {{index.obj.name}}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Date of Birth</h3>
      </div>
      <div class="panel-body">
        {{index.obj.date}}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Image URL</h3>
      </div>
      <div class="panel-body">
        <img src="{{index.obj.img}}" class="img-acc" alt="img"/>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Years married</h3>
      </div>
      <div class="panel-body">
        {{index.obj.yearsmarried}}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Child's</h3>
      </div>
      <div class="panel-body">
        {{index.obj.childcount}}
      </div>
    </div>
<button type="button" class="btn btn-success succ" name="button" ng-click="index.modifyPass()">Modify Password</button>
<button type="button" class="btn btn-success" name="button" ng-click="index.modifyData()">Modify Account Data</button>
</div>
