<div class="logForm">
    <h2>Login Page</h2>
    <label for="login">Login</label>
    <input type="text" id="login" class="form-control" name="login" placeholder="Please input your name!" ng-model="login.login">
    <label for="password">Password</label>
    <input type="password" id="password" class="form-control" name="pass" placeholder="Please input your password!" ng-model="login.password">
    <button type="button" class="btn btn-success" name="button" ng-click="login.verifyLogin()">Login</button>
</div>
