<div class="logForm">
    <h2>Change Your Password</h2>
    <label for="old">Please input your old Password</label>
    <input type="password" id="old" class="form-control" name="login" placeholder="Please input your old password!" ng-model="pass.OldPass">
    <label for="password">Please Input New Password</label>
    <input type="password" id="password" class="form-control" name="pass" placeholder="Please input your new password!" ng-model="pass.newPass">
    <label for="password2">Please Input again your new Password</label>
    <span>{{ pass.verify }}</span>
    <input type="password" id="password2" class="form-control" name="pass" placeholder="Please input your new password again!" ng-model="pass.newPass2">
    <button type="button" class="btn btn-success" name="button" ng-click="pass.updatePass()">Submit</button>
</div>
