<h2>Settings Page</h2>

<div class="userInfo">
<label for="name">Your Name</label>
<input type="text" id="name" class="form-control" name="name" ng-model="set.obj.name">

<label for="date">Your Date Of Birth</label>
<input type="text" id="date" class="form-control" name="name" ng-model="set.obj.date">

<label for="iamge">Link to your photo</label>
<input type="text" id="image" class="form-control" name="name" ng-model="set.obj.img">

<label for="mar">Married Status</label>
<input type="checkbox" id="mar" class="form-control" name="name" value="false">

<label for="chil">Children</label>
<input type="checkbox" id="chil" class="form-control" name="name" value="false">

<button type="button" class="btn btn-success" name="button" ng-click="set.sendData()">Modify Account Data</button>
</div>
