body {
    margin: 0;
    padding: 0;
    background: rgba(194,254,82,1);
}

.post-item {
    height: 400px;
    background-color: #f0f1f0;
    margin-top: 50px;
    margin-bottom: 20px;
    box-shadow: -5px 4px 5px 0px rgba(176,176,176,1);
    transition: 0.9;
    margin-bottom: 50px;
}


.post-item img:hover {
    height: 110%;
    width: 110%;
    cursor: pointer;
    margin-top: -5px;
    margin-left: -5px;
}

.post-image {
    max-heigth: 400px;
    max-width: 262px;
}

.header-menu {
    width: 100%;
}

.about-info {
    margin-top: 50px;
    font-family: fantasy;
}

.about-info h1 {
    margin-top: 30px;
}

.about-info p {
    font-size: 16px;
    margin-top: 150px;
}

.about-info button {
    float: right;
    margin-top: 43px;
}

.add-book input {
    margin-bottom: 20px;
}

.add-container {
    margin-top: 50px;
}

.add-container button {
    float: right;
    margin-top: 50px;
}
