body{
    padding: 0;
    margin: 0;
}
.userInfo{
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}
.img-acc{
    width:300px;
}
.logForm{
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
}
.btn-success{
    margin-top: 20px;

}
.succ{
    margin-left: 500px;
}
.right{
    float: left;
}
