<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>My Page</title>
  <script src="../bower_components/angular/angular.js"></script>
</head>
<body>
  <h1 class="h-prime"><i><b>Words-Symbol-Space Counter</b></i></h1>
  <div ng-controller="FirstCtrl as first">
    <textarea name="name" rows="8" cols="40" placeholder="Please input your text!!!" ng-change="first.someFunc()" ng-model="first.ext"></textarea>
    <br>
    <br>
    <span ng-model="first.words">Your text have : {{ first.words }} Words</span>
    <br>
    <span ng-model="first.letters">Your text have : {{ first.letters }} Symbols</span>
    <br>
    <span ng-model="first.spac">Your text have : {{ first.spac }} Spaces</span>
    <br>
    <span ng-model="first.len">You can input: {{ first.len }} Symbols</span>
  </div>
  <script type="text/javascript" src="controller.js"></script>
</body>
</html>
