<div>
    <span style="font-size: 25px">{{EntryId}}</span><br><br>
    <span style="font-size: 25px">{{Author}}</span><br><br>
    <span style="font-size: 25px">{{Title}}</span><br><br>
    <span style="font-size: 25px">{{Text}}</span><br><br>

</div>
