body{
  margin: 0;
  padding: 0;
}

#prime{
  width: 800px;
  height: 400px;
  border: 3px solid green;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 22px;
  font-style: italic;
  overflow: auto;
  border-radius: 10px;
  line-height: 36px;
}
button{
  width: 200px;
  height: 50px;
  transition: 0.8s;
  border-radius: 12px;
  font-size: 18px;
  font-style: sans-serif;

}
button:hover{
  color: #fff;
  background-color: green;

}
#pr{
  margin: 0 auto;
  margin-top: 20px;
  width: 1000px;
  display: flex;
  padding-left: 200px;
  margin-bottom: 25px;
}
#result{
  width: 1000px;
  height: 50px;
  border: 3px solid green;
  margin-top: 50px;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
  font-size: 25px;
  line-height: 45px;
  color : rgb(17, 130, 212);
  border-radius: 12px;
}
