body {
  margin: 0px;
  padding: 0px;
  background: rgba(129, 255, 84, 1);
  background-repeat: no-repeat
}
.form-control {
  width: 400px;
  margin-top: 20px;
}
@font-face {
  font-family: 'shrift';
  /*Здесь Вы называете как хотите его использовать*/
  src: url('../fonts/sword.otf');
}
@font-face {
  font-family: 'shrift2';
  /*Здесь Вы называете как хотите его использовать*/
  src: url('../fonts/raven.ttf');
}
.btn-success {
  margin-top: 27px;
  right: 821px;
  width: 150px;
  position: absolute;
}
.reg-form {
  margin-left: 300px;
}
.item-img-item {
  width: 100%;
}
.item-img {
  width: 300px;
  max-height: 400px;
}
.postItem {
  height: 500px;
  border: 1px solid grey;
  widht: 20%;
  margin-bottom: 50px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  background-color: #23e336;
  padding: 10px;
  cursor: pointer;
}
.add-but{
    right: -177px;
bottom: -27px;
}
.del-but{
    margin-top: 50px;
}
.btn-floating {
    position: absolute !important;
    top: 430px;
    right: 5px;
}
.addItems{
    width:600px;
    margin-left: 33%;
}
.item-text {
  padding-bottom: 10px;
  font-family: sans-serif;
}
.add-post {
  top: 80px !important;
  right: 20px !important;
  position: fixed !important;
}
.item-title {
  font-size: 20px;
  font-family: arial;
}
p {
  color: rgb(56, 92, 134);
}
.super-img {
  width: 100px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.h-prime {
  color: rgb(9, 229, 244);
  font-weight: bold;
  font-variant: small-caps;
}
.prime-font {
  font-family: shrift;
  font-size: 60px;
  margin-top: 100px;
  line-height: 3.428571;
}
.required {
  color: green;
  font-size: 13px;
}
.content {
  margin: 0 auto;
  text-align: center;
}
input {
  color: black;
  border-color: grey;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
textarea {
  background-color: aqua;
  border-color: grey;
  /*-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);*/
}
a:hover {
  text-decoration: none;
}
.btn-floating{
    position: absolute;
    top: -50px;
}
.validate {
  color: black;
  font-size: 20px;
}
.materialize-textarea {
  color: black;
  font-size: 20px;
}
.blogCon {
  width: 800px;
  margin-left: 33%;
}
.super {
  margin-top: -177px;
  vertical-align: middle;
}
.super1 {
  margin-top: -177px;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.wrapper:before {
  content: '';
  position: absolute;
  width: 300vw;
  height: 300vh;
  top: -10%;
  left: -10%;
  background: #f5ff44;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #f5ff44 0%, #96fff7 56%, #96fff7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-radial-gradient(center ellipse, #f5ff44 0%, #96fff7 56%, #96fff7 100%);
  background: radial-gradient(ellipse at center, #f5ff44 0%, #96fff7 56%, #96fff7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f5ff44', endColorstr='#96fff7', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.cardcontainer {
  width: 400px;
  position: relative;
  -webkit-perspective: 800px;
  perspective: 800px;
  z-index: 2;
  display: block;
  top: 300px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
#card {
  width: 400px;
  height: 300px;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  max-width: 100%;
}
#card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-animation-name: cardflip;
  animation-name: cardflip;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#card figure img {
  max-width: 100%;
}
#card .front img {
  max-width: 320px;
  display: block;
  margin: 0px auto 0;
}
#card .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
@-webkit-keyframes cardflip {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  70% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  86% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  95% {
    -webkit-transform: rotateY(175deg);
    transform: rotateY(175deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@keyframes cardflip {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  70% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  86% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  95% {
    -webkit-transform: rotateY(175deg);
    transform: rotateY(175deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
.textbox {
  display: block;
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  z-index: 0;
  margin: 230px auto;
  width: 100%;
  max-width: 500px;
  padding-bottom: 120px;
  height: auto;
  border-left: 2px solid #231f20;
  border-right: 2px solid #231f20;
  border-bottom: 2px solid #231f20;
}
.textbox:before, .textbox:after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 100%;
  border-top: 2px solid #231f20;
  top: 0;
}
.textbox:before {
  left: 0;
}
.textbox:after {
  right: 0;
}
.textbox p {
  font-family: "proxima-nova", sans-serif;
  position: relative;
  bottom: -125px;
  padding: 1em;
  font-size: 1.4em;
}
.textbox p span {
  display: block;
  font-size: 1.6em;
  font-family: "ambroise-std", serif;
  text-align: center;
  position: relative;
}
.textbox p span:after {
  content: '';
  width: 80%;
  height: 75%;
  position: absolute;
  left: 10%;
  top: 50%;
  background: #96fff7;
  z-index: -1;
}
.button:hover {
  letter-spacing: 3px;
  box-shadow: 0px 10px 0px -5px #231f20;
  -webkit-box-shadow: 0px 10px 0px -5px #231f20;
  -moz-box-shadow: 0px 10px 0px -5px #231f20;
}
.button {
  color: #231f20;
  overflow: hidden;
  display: block;
  width: 200px;
  text-align: center;
  padding: 0.5em 1em;
  margin: 40px auto -10px;
  border: 1px solid #231f20;
  text-decoration: none !important;
  letter-spacing: 2px;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.button:before {
  content: '';
  left: 0;
  position: absolute;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  top: 100%;
  display: block;
  background: #96fff7;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: -1;
}
b {
  font-weight: 900;
}
.button:hover:before {
  top: 0% !important;
}
