<!-- <div class="blogCon">
<h3 class="h-prime">Here are total {{ blog.getTotalTodos()}} post's</h3>
<label>
</label>
<br/>
  <ul>
    <li>
      <input type="text" ng-model="blog.todos.formTodoTitle"  placeholder="Please input Title of the Post!" class="validate"/>
      <label for="email" data-error="wrong" data-success="right">Post</label>

      <textarea placeholder="I need to..." ng-model="blog.todos.formTodoText" id="icon_prefix2" class="materialize-textarea"><label for="Text" data-error="wrong" data-success="right">Text</label></textarea>
    </li>
  </ul>
<form class="firstBut">
<a class="waves-effect waves-light btn" ng-click="blog.addTodo()">Add</a>
<a class="waves-effect waves-light btn" ng-click="blog.clearCompleted($index)">Delete</a><br>
</form>
<div class="rex" ng-repeat="todo in blog.todos">
</div>
</div> -->
<div ui-view></div>
<!-- <div>
    <span class="prime-font">New Post's</span>
    <p>
        <input type="text" ng-model="blog.post.id" placeholder="id">
    </p>
    <p>
        <input type="text" ng-model="blog.post.title" placeholder="title">
    </p>
    <p>
        <input type="text" ng-model="blog.post.text" placeholder="text">
    </p>
    <p>
        <button ng-click="blog.addPost()">add post</button>
    </p>
</div>

<div>
    <button ng-click="blog.getPosts()">get all posts</button>
</div>

<div ng-repeat="post in blog.posts">
    <div>
        {{ post.id }}
    </div>
    <div>
        {{ post.title }}
    </div>

    <div>
        {{ post.text }}
    </div>
    <hr>
</div> -->
