<span class="prime-font">Add New Post</span>
<div class="addItems">
    <label for="title">Title of Post</label>
    <input type="text" name="name" id="title" placeholder="Title" class="validate" ng-model="info.formTitle">
    <label for="text">Image Url</label>
    <input type="text" name="name" id="text" placeholder="Image Url" class="validate" ng-model="info.formImg">
    <label for="text-area">Text Of Post</label>
    <textarea name="name" id="text-area" rows="8" cols="40" ng-model="info.formText"></textarea>
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    <button class="add-but waves-effect waves-light btn #757575 grey darken-1" type="button" name="button"  ng-click="info.sendData()">Add New Post</button>
</div>
