<span class="prime-font">New Post's</span>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-1 postItem" ng-repeat="post in list.posts track by $index" ng-click="goToPost()" >
      <div class="item-title">
        {{ post.title }}
      </div>
      <div class="item-img">
        <img src="{{ post.img }}" alt="1" class="item-img-item"/>
      </div>
      <div class="item-text">
        {{ post.text }}
        <a class="btn-floating btn-large waves-effect waves-light red del-but" ng-click="list.deleteData($index)">
          <i class="material-icons">X</i>
        </a>
      </div>
    </div>
  </div>
  <button type="button" name="button" class="add-post waves-effect waves-light btn #757575 grey darken-1" ng-click="list.addPost()">Add New Post</button>
</div>
