body{
  margin: 0;
  padding: 0;
  background-color: grey;
  background-image: url('../images/3.jpg');
  background-size: cover;
}

#prime{
  width: 1800px;
  height: 800px;
  border: 6px solid grey;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 22px;
  font-style: italic;
  overflow: auto;
  border-radius: 10px;
  line-height: 36px;
}
#ser{
  width: 400px;
  height: 250px;
  border: 3px solid grey;
}
button{text-decoration:none; text-align:center;
  padding-top: 0px;

 padding:11px 44px;
 border:solid 1px #004F72;
 -webkit-border-radius:14px;
 -moz-border-radius:14px;
 border-radius: 14px;
 font:18px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 font-weight:bold;
 color:#e5ffff;
 background-color:#3BA4C7;
 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 );
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
button:hover{
/*transform: rotate(1deg);*/
 padding:11px 32px;
 border:solid 1px #004F72;
 -webkit-border-radius:12px;
 -moz-border-radius:12px;
 border-radius: 12px;
 font:20px Tahoma, Geneva, sans-serif;
 font-weight:bold;
 color:#00ffff;
 background-color:#3BA4C7;
 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 );
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
 -webkit-box-shadow:6px 5px 2px #bababa, inset 0px 0px 1px #ffffff;
 -moz-box-shadow: 6px 5px 2px #bababa,  inset 0px 0px 1px #ffffff;
 box-shadow:6px 5px 2px #bababa, inset 0px 0px 1px #ffffff;

 text-shadow: 3px 0px 3px #bababa;
 filter: dropshadow(color=#bababa, offx=3, offy=0);}.button:active{
 padding:11px 32px;
 border:solid 1px #004F72;
 -webkit-border-radius:4px;
 -moz-border-radius:4px;
 border-radius: 4px;
 font:18px Arial, Helvetica, sans-serif;
 font-weight:bold;
 color:#E5FFFF;
 background-color:#3BA4C7;
 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 );
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

 }
 #delet{
   margin-left: 1600px;
 }

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

#container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.neon {
  font-family: neon;
  color: #FB4264;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0vw 0vw 3vw #F40A35;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  /* Firefox */
  -webkit-animation: neon 1s ease infinite;
  /* Safari and Chrome */
  -o-animation: neon 1s ease infinite;
  /* Opera */
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0vw 0vw 1vw #FA1C16, 0vw 0vw 3vw #FA1C16, 0vw 0vw 10vw #FA1C16, 0vw 0vw 10vw #FA1C16, 0vw 0vw .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0vw 0vw .5vw #800E0B, 0vw 0vw 1.5vw #800E0B, 0vw 0vw 5vw #800E0B, 0vw 0vw 5vw #800E0B, 0vw 0vw .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

@-moz-keyframes neon
/* Firefox */

@keyframes neon {
  0%,
  100% {
    text-shadow: 0vw 0vw 1vw #FA1C16, 0vw 0vw 3vw #FA1C16, 0vw 0vw 10vw #FA1C16, 0vw 0vw 10vw #FA1C16, 0vw 0vw .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0vw 0vw .5vw #800E0B, 0vw 0vw 1.5vw #800E0B, 0vw 0vw 5vw #800E0B, 0vw 0vw 5vw #800E0B, 0vw 0vw .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

@-webkit-keyframes neon
/* Safari and Chrome */

@keyframes neon {
  0%,
  100% {
    text-shadow: 0vw 0vw 1vw #FA1C16, 0vw 0vw 3vw #FA1C16, 0vw 0vw 10vw #FA1C16, 0vw 0vw 10vw #FA1C16, 0vw 0vw .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0vw 0vw .5vw #800E0B, 0vw 0vw 1.5vw #800E0B, 0vw 0vw 5vw #800E0B, 0vw 0vw 5vw #800E0B, 0vw 0vw .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

@-o-keyframes neon
/* Opera */

@keyframes neon {
  0%,
  100% {
    text-shadow: 0vw 0vw 1vw #FA1C16, 0vw 0vw 3vw #FA1C16, 0vw 0vw 10vw #FA1C16, 0vw 0vw 10vw #FA1C16, 0vw 0vw .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0vw 0vw .5vw #800E0B, 0vw 0vw 1.5vw #800E0B, 0vw 0vw 5vw #800E0B, 0vw 0vw 5vw #800E0B, 0vw 0vw .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.flux {
  font-family: neon;
  color: #426DFB;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0vw 0vw 3vw #2356FF;
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  /* Firefox */
  -webkit-animation: flux 2s linear infinite;
  /* Safari and Chrome */
  -o-animation: flux 2s linear infinite;
  /* Opera */
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0vw 0vw 1vw #1041FF, 0vw 0vw 3vw #1041FF, 0vw 0vw 10vw #1041FF, 0vw 0vw 10vw #1041FF, 0vw 0vw .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0vw 0vw .5vw #082180, 0vw 0vw 1.5vw #082180, 0vw 0vw 5vw #082180, 0vw 0vw 5vw #082180, 0vw 0vw .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}

@-moz-keyframes flux
/* Firefox */

@keyframes flux {
  0%,
  100% {
    text-shadow: 0vw 0vw 1vw #1041FF, 0vw 0vw 3vw #1041FF, 0vw 0vw 10vw #1041FF, 0vw 0vw 10vw #1041FF, 0vw 0vw .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0vw 0vw .5vw #082180, 0vw 0vw 1.5vw #082180, 0vw 0vw 5vw #082180, 0vw 0vw 5vw #082180, 0vw 0vw .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}

@-webkit-keyframes flux
/* Safari and Chrome */

@keyframes flux {
  0%,
  100% {
    text-shadow: 0vw 0vw 1vw #1041FF, 0vw 0vw 3vw #1041FF, 0vw 0vw 10vw #1041FF, 0vw 0vw 10vw #1041FF, 0vw 0vw .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0vw 0vw .5vw #082180, 0vw 0vw 1.5vw #082180, 0vw 0vw 5vw #082180, 0vw 0vw 5vw #082180, 0vw 0vw .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}

@-o-keyframes flux
/* Opera */

@keyframes flux {
  0%,
  100% {
    text-shadow: 0vw 0vw 1vw #1041FF, 0vw 0vw 3vw #1041FF, 0vw 0vw 10vw #1041FF, 0vw 0vw 10vw #1041FF, 0vw 0vw .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0vw 0vw .5vw #082180, 0vw 0vw 1.5vw #082180, 0vw 0vw 5vw #082180, 0vw 0vw 5vw #082180, 0vw 0vw .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}

/* svg{
  width:800px;
  height:600px;
} */

/*#pr{
  margin: 0 auto;
  margin-top: 20px;
  width: 1000px;
  display: flex;
  padding-left: 200px;
  margin-bottom: 25px;
}*/
/*#result{
  width: 1000px;
  height: 50px;
  border: 3px solid green;
  margin-top: 50px;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
  font-size: 25px;
  line-height: 45px;
  color : rgb(17, 130, 212);
  border-radius: 12px;
}*/
*,
*:before,
*:after {
box-sizing: border-box;
padding: 0;
margin: 0;
-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}

body{
  margin: 0;
  padding: 0;
  background-color: grey;
  background-image: url('../images/3.jpg');
  background-size: cover;
}

/*button{
  width: 200px;
  height: 50px;
  transition: 0.8s;
  border-radius: 12px;
  font-size: 18px;
  font-style: sans-serif;

}
button:hover{
  color: #fff;
  background-color: green;

}*/

#pr{
  margin: 0 auto;
  margin-top: -50px;
  width: 1000px;
  display: flex;
  padding-left: 100px;
  bottom: 100px;
}
.animation-wrapper {
width: 100vw;
height: 100vh;
background-color: rgba(0, 0, 0, 0.05);
position: relative;
-webkit-perspective: 600px;
        perspective: 600px;
overflow: hidden;
}

.animation-inner {
position: relative;
width: 100%;
height: 90%;
-webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
-webkit-animation: intro-animation 5s forwards;
        animation: intro-animation 5s forwards;
}

.base-top,
.base-bottom,
.base-front,
.base-back,
.base-left,
.base-right {
position: absolute;
top: calc(50% - 25px);
left: calc(50% - 100px);
width: 200px;
height: 150px;
}

.base-top,
.base-bottom {
background-color: #c8c8c8;
}

.base-top {
background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/149229/keyboard.png);
background-size: 190px auto;
background-repeat: no-repeat;
background-position: center 15px;
}
.base-top:after {
position: absolute;
content: "";
width: 60px;
height: 50px;
background-color: #b4b4b4;
border-radius: 2px;
bottom: 5px;
left: calc(50% - 30px);
}

.base-bottom {
-webkit-transform: translateZ(6px);
        transform: translateZ(6px);
}

.base-front,
.base-back {
background-color: #bebebe;
height: 6px;
}

.base-front {
-webkit-transform: rotateX(90deg) translateZ(3px) translateY(3px);
        transform: rotateX(90deg) translateZ(3px) translateY(3px);
}

.base-back {
-webkit-transform: rotateX(90deg) translateZ(-147px) translateY(3px);
        transform: rotateX(90deg) translateZ(-147px) translateY(3px);
}

.base-left,
.base-right {
background-color: #b4b4b4;
height: 6px;
width: 150px;
left: calc(50% - 75px);
}

.base-left {
-webkit-transform: rotateY(90deg) rotateZ(90deg) translateZ(100px) translateX(72px) translateY(3px);
        transform: rotateY(90deg) rotateZ(90deg) translateZ(100px) translateX(72px) translateY(3px);
}

.base-right {
-webkit-transform: rotateY(90deg) rotateZ(90deg) translateZ(-100px) translateX(72px) translateY(3px);
        transform: rotateY(90deg) rotateZ(90deg) translateZ(-100px) translateX(72px) translateY(3px);
}

.screen {
position: absolute;
top: calc(50% - 175px);
left: calc(50% - 100px);
width: 200px;
height: 150px;
-webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
-webkit-transition: all .5s;
transition: all .5s;
-webkit-transform-origin: bottom left;
        transform-origin: bottom left;
-webkit-transform: rotateX(80deg);
        transform: rotateX(80deg);
-webkit-animation: intro-screen 5s forwards;
        animation: intro-screen 5s forwards;
}

.click .screen {
-webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
}

.screen-front,
.screen-back {
width: 200px;
height: 150px;
position: absolute;
top: 0;
left: 0;
}

.screen-front {
background-color: #3c3c3c;
border: 5px solid black;
background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/149229/macos-sierra-hands-on-0004-1500x938.jpg);
background-size: 100% 100%;
background-position: center center;
overflow: hidden;
-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
-webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
}
.screen-front iframe {
width: 100%;
height: 100%;
display: block;
}
.screen-front:before {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
content: "";
z-index: 3;
}
.screen-front:after {
position: absolute;
content: "";
top: 0;
left: 0;
background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
width: 300px;
height: 300px;
-webkit-transform: rotate(45deg) translateY(-50px) translateX(-250px);
        transform: rotate(45deg) translateY(-50px) translateX(-250px);
}

.screen-back {
background-color: #c8c8c8;
-webkit-transform: translateZ(3px);
        transform: translateZ(3px);
background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/149229/Apple-logo-white-md.png);
background-size: 25px 30px;
background-repeat: no-repeat;
background-position: center center;
}

.screen-left,
.screen-right {
width: 3px;
height: 150px;
position: absolute;
top: 0;
left: 0;
background-color: #bebebe;
}

.screen-left {
-webkit-transform: rotateY(90deg) translateX(-1.5px);
        transform: rotateY(90deg) translateX(-1.5px);
}

.screen-right {
-webkit-transform: rotateY(90deg) translateX(-1.5px) translateZ(198px);
        transform: rotateY(90deg) translateX(-1.5px) translateZ(198px);
}

.screen-top,
.screen-bottom {
width: 200px;
height: 3px;
position: absolute;
top: 0;
left: 0;
background-color: #b4b4b4;
}

.screen-top {
-webkit-transform: rotateX(90deg) translateY(1.5px) translateZ(1px);
        transform: rotateX(90deg) translateY(1.5px) translateZ(1px);
}

.screen-bottom {
-webkit-transform: rotateX(90deg) translateY(1.5px) translateZ(-148px);
        transform: rotateX(90deg) translateY(1.5px) translateZ(-148px);
}

@-webkit-keyframes intro-animation {
0% {
  -webkit-transform: rotateY(0deg) rotateX(-45deg);
          transform: rotateY(0deg) rotateX(-45deg);
}
100% {
  -webkit-transform: rotateY(180deg) rotateX(-90deg);
          transform: rotateY(180deg) rotateX(-90deg);
}
}

@keyframes intro-animation {
0% {
  -webkit-transform: rotateY(0deg) rotateX(-45deg);
          transform: rotateY(0deg) rotateX(-45deg);
}
100% {
  -webkit-transform: rotateY(180deg) rotateX(-90deg);
          transform: rotateY(180deg) rotateX(-90deg);
}
}
@-webkit-keyframes intro-screen {
0% {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
100% {
  -webkit-transform: rotateX(80deg);
          transform: rotateX(80deg);
}
}
@keyframes intro-screen {
0% {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
100% {
  -webkit-transform: rotateX(80deg);
          transform: rotateX(80deg);
}
}
footer {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
padding: 20px;
z-index: 2;
text-align: right;
}
footer a {
text-decoration: none;
color: black;
}

header {
position: fixed;
top: 0;
left: 0;
padding: 20px;
z-index: 4;
}
header h1 {
font-weight: 100;
}





span {
  position: absolute;
  border: solid 1px rgba(255, 255, 175, 0.5);
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50px;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

figure {
  position: absolute;
  margin: 0;
  border: solid 1px rgba(255, 255, 175, 0.7);
  width: 200px;
  height: 200px;
  background-color: rgba(238, 238, 238, 0);
  border-radius: 200px;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -100px;
}
figure::before {
  position: absolute;
  content: '';
  left: 75px;
  top: 75px;
  width: 50px;
  height: 50px;
  background-color: rgba(227, 75, 48, 0.7);
  border-radius: 50px;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 100);
          transform: matrix(1, 0, 0, 1, 0, 100);
  -webkit-animation-name: matrix-circular-rotation;
          animation-name: matrix-circular-rotation;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
figure::after {
  position: absolute;
  content: '';
  left: 75px;
  top: 75px;
  width: 50px;
  height: 50px;
  background-color: rgba(121, 166, 159, 0.7);
  border-radius: 50px;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 100);
          transform: matrix(1, 0, 0, 1, 0, 100);
  -webkit-animation-name: matrix-circular-rotation-reserve;
          animation-name: matrix-circular-rotation-reserve;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes matrix-circular-rotation {
  1% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 100);
            transform: matrix(1, 0, 0, 1, 0, 100);
  }
  2% {
    -webkit-transform: matrix(1, 0, 0, 1, 9.98334, 99.50042);
            transform: matrix(1, 0, 0, 1, 9.98334, 99.50042);
  }
  3% {
    -webkit-transform: matrix(1, 0, 0, 1, 19.89772, 98.00041);
            transform: matrix(1, 0, 0, 1, 19.89772, 98.00041);
  }
  4% {
    -webkit-transform: matrix(1, 0, 0, 1, 29.61213, 95.51503);
            transform: matrix(1, 0, 0, 1, 29.61213, 95.51503);
  }
  5% {
    -webkit-transform: matrix(1, 0, 0, 1, 39.02881, 92.06928);
            transform: matrix(1, 0, 0, 1, 39.02881, 92.06928);
  }
  6% {
    -webkit-transform: matrix(1, 0, 0, 1, 48.05306, 87.6978);
            transform: matrix(1, 0, 0, 1, 48.05306, 87.6978);
  }
  7% {
    -webkit-transform: matrix(1, 0, 0, 1, 56.59415, 82.44454);
            transform: matrix(1, 0, 0, 1, 56.59415, 82.44454);
  }
  8% {
    -webkit-transform: matrix(1, 0, 0, 1, 64.5662, 76.36233);
            transform: matrix(1, 0, 0, 1, 64.5662, 76.36233);
  }
  9% {
    -webkit-transform: matrix(1, 0, 0, 1, 71.88906, 69.51232);
            transform: matrix(1, 0, 0, 1, 71.88906, 69.51232);
  }
  10% {
    -webkit-transform: matrix(1, 0, 0, 1, 78.4891, 61.96339);
            transform: matrix(1, 0, 0, 1, 78.4891, 61.96339);
  }
  11% {
    -webkit-transform: matrix(1, 0, 0, 1, 84.29995, 53.79143);
            transform: matrix(1, 0, 0, 1, 84.29995, 53.79143);
  }
  12% {
    -webkit-transform: matrix(1, 0, 0, 1, 89.2632, 45.07861);
            transform: matrix(1, 0, 0, 1, 89.2632, 45.07861);
  }
  13% {
    -webkit-transform: matrix(1, 0, 0, 1, 93.32893, 35.91255);
            transform: matrix(1, 0, 0, 1, 93.32893, 35.91255);
  }
  14% {
    -webkit-transform: matrix(1, 0, 0, 1, 96.45627, 26.38539);
            transform: matrix(1, 0, 0, 1, 96.45627, 26.38539);
  }
  15% {
    -webkit-transform: matrix(1, 0, 0, 1, 98.61376, 16.59294);
            transform: matrix(1, 0, 0, 1, 98.61376, 16.59294);
  }
  16% {
    -webkit-transform: matrix(1, 0, 0, 1, 99.77973, 6.63365);
            transform: matrix(1, 0, 0, 1, 99.77973, 6.63365);
  }
  17% {
    -webkit-transform: matrix(1, 0, 0, 1, 99.94244, -3.39234);
            transform: matrix(1, 0, 0, 1, 99.94244, -3.39234);
  }
  18% {
    -webkit-transform: matrix(1, 0, 0, 1, 99.10027, -13.38422);
            transform: matrix(1, 0, 0, 1, 99.10027, -13.38422);
  }
  19% {
    -webkit-transform: matrix(1, 0, 0, 1, 97.26166, -23.24153);
            transform: matrix(1, 0, 0, 1, 97.26166, -23.24153);
  }
  20% {
    -webkit-transform: matrix(1, 0, 0, 1, 94.44513, -32.86515);
            transform: matrix(1, 0, 0, 1, 94.44513, -32.86515);
  }
  21% {
    -webkit-transform: matrix(1, 0, 0, 1, 90.67897, -42.15832);
            transform: matrix(1, 0, 0, 1, 90.67897, -42.15832);
  }
  22% {
    -webkit-transform: matrix(1, 0, 0, 1, 86.00107, -51.0276);
            transform: matrix(1, 0, 0, 1, 86.00107, -51.0276);
  }
  23% {
    -webkit-transform: matrix(1, 0, 0, 1, 80.45845, -59.38381);
            transform: matrix(1, 0, 0, 1, 80.45845, -59.38381);
  }
  24% {
    -webkit-transform: matrix(1, 0, 0, 1, 74.10685, -67.14294);
            transform: matrix(1, 0, 0, 1, 74.10685, -67.14294);
  }
  25% {
    -webkit-transform: matrix(1, 0, 0, 1, 67.01013, -74.22697);
            transform: matrix(1, 0, 0, 1, 67.01013, -74.22697);
  }
  26% {
    -webkit-transform: matrix(1, 0, 0, 1, 59.23964, -80.56467);
            transform: matrix(1, 0, 0, 1, 59.23964, -80.56467);
  }
  27% {
    -webkit-transform: matrix(1, 0, 0, 1, 50.87351, -86.09231);
            transform: matrix(1, 0, 0, 1, 50.87351, -86.09231);
  }
  28% {
    -webkit-transform: matrix(1, 0, 0, 1, 41.99587, -90.75432);
            transform: matrix(1, 0, 0, 1, 41.99587, -90.75432);
  }
  29% {
    -webkit-transform: matrix(1, 0, 0, 1, 32.69597, -94.50383);
            transform: matrix(1, 0, 0, 1, 32.69597, -94.50383);
  }
  30% {
    -webkit-transform: matrix(1, 0, 0, 1, 23.06732, -97.30313);
            transform: matrix(1, 0, 0, 1, 23.06732, -97.30313);
  }
  31% {
    -webkit-transform: matrix(1, 0, 0, 1, 13.20674, -99.12407);
            transform: matrix(1, 0, 0, 1, 13.20674, -99.12407);
  }
  32% {
    -webkit-transform: matrix(1, 0, 0, 1, 3.21336, -99.94836);
            transform: matrix(1, 0, 0, 1, 3.21336, -99.94836);
  }
  33% {
    -webkit-transform: matrix(1, 0, 0, 1, -6.81232, -99.76769);
            transform: matrix(1, 0, 0, 1, -6.81232, -99.76769);
  }
  34% {
    -webkit-transform: matrix(1, 0, 0, 1, -16.7695, -98.58389);
            transform: matrix(1, 0, 0, 1, -16.7695, -98.58389);
  }
  35% {
    -webkit-transform: matrix(1, 0, 0, 1, -26.55808, -96.40886);
            transform: matrix(1, 0, 0, 1, -26.55808, -96.40886);
  }
  36% {
    -webkit-transform: matrix(1, 0, 0, 1, -36.07962, -93.26447);
            transform: matrix(1, 0, 0, 1, -36.07962, -93.26447);
  }
  37% {
    -webkit-transform: matrix(1, 0, 0, 1, -45.23839, -89.18233);
            transform: matrix(1, 0, 0, 1, -45.23839, -89.18233);
  }
  38% {
    -webkit-transform: matrix(1, 0, 0, 1, -53.9423, -84.20349);
            transform: matrix(1, 0, 0, 1, -53.9423, -84.20349);
  }
  39% {
    -webkit-transform: matrix(1, 0, 0, 1, -62.10384, -78.37801);
            transform: matrix(1, 0, 0, 1, -62.10384, -78.37801);
  }
  40% {
    -webkit-transform: matrix(1, 0, 0, 1, -69.64094, -71.76447);
            transform: matrix(1, 0, 0, 1, -69.64094, -71.76447);
  }
  41% {
    -webkit-transform: matrix(1, 0, 0, 1, -76.47783, -64.42935);
            transform: matrix(1, 0, 0, 1, -76.47783, -64.42935);
  }
  42% {
    -webkit-transform: matrix(1, 0, 0, 1, -82.54576, -56.44642);
            transform: matrix(1, 0, 0, 1, -82.54576, -56.44642);
  }
  43% {
    -webkit-transform: matrix(1, 0, 0, 1, -87.78371, -47.89593);
            transform: matrix(1, 0, 0, 1, -87.78371, -47.89593);
  }
  44% {
    -webkit-transform: matrix(1, 0, 0, 1, -92.13902, -38.86387);
            transform: matrix(1, 0, 0, 1, -92.13902, -38.86387);
  }
  45% {
    -webkit-transform: matrix(1, 0, 0, 1, -95.56791, -29.44104);
            transform: matrix(1, 0, 0, 1, -95.56791, -29.44104);
  }
  46% {
    -webkit-transform: matrix(1, 0, 0, 1, -98.03589, -19.7222);
            transform: matrix(1, 0, 0, 1, -98.03589, -19.7222);
  }
  47% {
    -webkit-transform: matrix(1, 0, 0, 1, -99.51814, -9.80505);
            transform: matrix(1, 0, 0, 1, -99.51814, -9.80505);
  }
  48% {
    -webkit-transform: matrix(1, 0, 0, 1, -99.99978, 0.21069);
            transform: matrix(1, 0, 0, 1, -99.99978, 0.21069);
  }
  49% {
    -webkit-transform: matrix(1, 0, 0, 1, -99.47594, 10.22431);
            transform: matrix(1, 0, 0, 1, -99.47594, 10.22431);
  }
  50% {
    -webkit-transform: matrix(1, 0, 0, 1, -97.95191, 20.13512);
            transform: matrix(1, 0, 0, 1, -97.95191, 20.13512);
  }
  51% {
    -webkit-transform: matrix(1, 0, 0, 1, -95.443, 29.84348);
            transform: matrix(1, 0, 0, 1, -95.443, 29.84348);
  }
  52% {
    -webkit-transform: matrix(1, 0, 0, 1, -91.97444, 39.25178);
            transform: matrix(1, 0, 0, 1, -91.97444, 39.25178);
  }
  53% {
    -webkit-transform: matrix(1, 0, 0, 1, -87.58111, 48.26541);
            transform: matrix(1, 0, 0, 1, -87.58111, 48.26541);
  }
  54% {
    -webkit-transform: matrix(1, 0, 0, 1, -82.30717, 56.79375);
            transform: matrix(1, 0, 0, 1, -82.30717, 56.79375);
  }
  55% {
    -webkit-transform: matrix(1, 0, 0, 1, -76.20566, 64.75104);
            transform: matrix(1, 0, 0, 1, -76.20566, 64.75104);
  }
  56% {
    -webkit-transform: matrix(1, 0, 0, 1, -69.33793, 72.05728);
            transform: matrix(1, 0, 0, 1, -69.33793, 72.05728);
  }
  57% {
    -webkit-transform: matrix(1, 0, 0, 1, -61.77302, 78.63901);
            transform: matrix(1, 0, 0, 1, -61.77302, 78.63901);
  }
}

@keyframes matrix-circular-rotation {
  1% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 100);
            transform: matrix(1, 0, 0, 1, 0, 100);
  }
  2% {
    -webkit-transform: matrix(1, 0, 0, 1, 9.98334, 99.50042);
            transform: matrix(1, 0, 0, 1, 9.98334, 99.50042);
  }
  3% {
    -webkit-transform: matrix(1, 0, 0, 1, 19.89772, 98.00041);
            transform: matrix(1, 0, 0, 1, 19.89772, 98.00041);
  }
  4% {
    -webkit-transform: matrix(1, 0, 0, 1, 29.61213, 95.51503);
            transform: matrix(1, 0, 0, 1, 29.61213, 95.51503);
  }
  5% {
    -webkit-transform: matrix(1, 0, 0, 1, 39.02881, 92.06928);
            transform: matrix(1, 0, 0, 1, 39.02881, 92.06928);
  }
  6% {
    -webkit-transform: matrix(1, 0, 0, 1, 48.05306, 87.6978);
            transform: matrix(1, 0, 0, 1, 48.05306, 87.6978);
  }
  7% {
    -webkit-transform: matrix(1, 0, 0, 1, 56.59415, 82.44454);
            transform: matrix(1, 0, 0, 1, 56.59415, 82.44454);
  }
  8% {
    -webkit-transform: matrix(1, 0, 0, 1, 64.5662, 76.36233);
            transform: matrix(1, 0, 0, 1, 64.5662, 76.36233);
  }
  9% {
    -webkit-transform: matrix(1, 0, 0, 1, 71.88906, 69.51232);
            transform: matrix(1, 0, 0, 1, 71.88906, 69.51232);
  }
  10% {
    -webkit-transform: matrix(1, 0, 0, 1, 78.4891, 61.96339);
            transform: matrix(1, 0, 0, 1, 78.4891, 61.96339);
  }
  11% {
    -webkit-transform: matrix(1, 0, 0, 1, 84.29995, 53.79143);
            transform: matrix(1, 0, 0, 1, 84.29995, 53.79143);
  }
  12% {
    -webkit-transform: matrix(1, 0, 0, 1, 89.2632, 45.07861);
            transform: matrix(1, 0, 0, 1, 89.2632, 45.07861);
  }
  13% {
    -webkit-transform: matrix(1, 0, 0, 1, 93.32893, 35.91255);
            transform: matrix(1, 0, 0, 1, 93.32893, 35.91255);
  }
  14% {
    -webkit-transform: matrix(1, 0, 0, 1, 96.45627, 26.38539);
            transform: matrix(1, 0, 0, 1, 96.45627, 26.38539);
  }
  15% {
    -webkit-transform: matrix(1, 0, 0, 1, 98.61376, 16.59294);
            transform: matrix(1, 0, 0, 1, 98.61376, 16.59294);
  }
  16% {
    -webkit-transform: matrix(1, 0, 0, 1, 99.77973, 6.63365);
            transform: matrix(1, 0, 0, 1, 99.77973, 6.63365);
  }
  17% {
    -webkit-transform: matrix(1, 0, 0, 1, 99.94244, -3.39234);
            transform: matrix(1, 0, 0, 1, 99.94244, -3.39234);
  }
  18% {
    -webkit-transform: matrix(1, 0, 0, 1, 99.10027, -13.38422);
            transform: matrix(1, 0, 0, 1, 99.10027, -13.38422);
  }
  19% {
    -webkit-transform: matrix(1, 0, 0, 1, 97.26166, -23.24153);
            transform: matrix(1, 0, 0, 1, 97.26166, -23.24153);
  }
  20% {
    -webkit-transform: matrix(1, 0, 0, 1, 94.44513, -32.86515);
            transform: matrix(1, 0, 0, 1, 94.44513, -32.86515);
  }
  21% {
    -webkit-transform: matrix(1, 0, 0, 1, 90.67897, -42.15832);
            transform: matrix(1, 0, 0, 1, 90.67897, -42.15832);
  }
  22% {
    -webkit-transform: matrix(1, 0, 0, 1, 86.00107, -51.0276);
            transform: matrix(1, 0, 0, 1, 86.00107, -51.0276);
  }
  23% {
    -webkit-transform: matrix(1, 0, 0, 1, 80.45845, -59.38381);
            transform: matrix(1, 0, 0, 1, 80.45845, -59.38381);
  }
  24% {
    -webkit-transform: matrix(1, 0, 0, 1, 74.10685, -67.14294);
            transform: matrix(1, 0, 0, 1, 74.10685, -67.14294);
  }
  25% {
    -webkit-transform: matrix(1, 0, 0, 1, 67.01013, -74.22697);
            transform: matrix(1, 0, 0, 1, 67.01013, -74.22697);
  }
  26% {
    -webkit-transform: matrix(1, 0, 0, 1, 59.23964, -80.56467);
            transform: matrix(1, 0, 0, 1, 59.23964, -80.56467);
  }
  27% {
    -webkit-transform: matrix(1, 0, 0, 1, 50.87351, -86.09231);
            transform: matrix(1, 0, 0, 1, 50.87351, -86.09231);
  }
  28% {
    -webkit-transform: matrix(1, 0, 0, 1, 41.99587, -90.75432);
            transform: matrix(1, 0, 0, 1, 41.99587, -90.75432);
  }
  29% {
    -webkit-transform: matrix(1, 0, 0, 1, 32.69597, -94.50383);
            transform: matrix(1, 0, 0, 1, 32.69597, -94.50383);
  }
  30% {
    -webkit-transform: matrix(1, 0, 0, 1, 23.06732, -97.30313);
            transform: matrix(1, 0, 0, 1, 23.06732, -97.30313);
  }
  31% {
    -webkit-transform: matrix(1, 0, 0, 1, 13.20674, -99.12407);
            transform: matrix(1, 0, 0, 1, 13.20674, -99.12407);
  }
  32% {
    -webkit-transform: matrix(1, 0, 0, 1, 3.21336, -99.94836);
            transform: matrix(1, 0, 0, 1, 3.21336, -99.94836);
  }
  33% {
    -webkit-transform: matrix(1, 0, 0, 1, -6.81232, -99.76769);
            transform: matrix(1, 0, 0, 1, -6.81232, -99.76769);
  }
  34% {
    -webkit-transform: matrix(1, 0, 0, 1, -16.7695, -98.58389);
            transform: matrix(1, 0, 0, 1, -16.7695, -98.58389);
  }
  35% {
    -webkit-transform: matrix(1, 0, 0, 1, -26.55808, -96.40886);
            transform: matrix(1, 0, 0, 1, -26.55808, -96.40886);
  }
  36% {
    -webkit-transform: matrix(1, 0, 0, 1, -36.07962, -93.26447);
            transform: matrix(1, 0, 0, 1, -36.07962, -93.26447);
  }
  37% {
    -webkit-transform: matrix(1, 0, 0, 1, -45.23839, -89.18233);
            transform: matrix(1, 0, 0, 1, -45.23839, -89.18233);
  }
  38% {
    -webkit-transform: matrix(1, 0, 0, 1, -53.9423, -84.20349);
            transform: matrix(1, 0, 0, 1, -53.9423, -84.20349);
  }
  39% {
    -webkit-transform: matrix(1, 0, 0, 1, -62.10384, -78.37801);
            transform: matrix(1, 0, 0, 1, -62.10384, -78.37801);
  }
  40% {
    -webkit-transform: matrix(1, 0, 0, 1, -69.64094, -71.76447);
            transform: matrix(1, 0, 0, 1, -69.64094, -71.76447);
  }
  41% {
    -webkit-transform: matrix(1, 0, 0, 1, -76.47783, -64.42935);
            transform: matrix(1, 0, 0, 1, -76.47783, -64.42935);
  }
  42% {
    -webkit-transform: matrix(1, 0, 0, 1, -82.54576, -56.44642);
            transform: matrix(1, 0, 0, 1, -82.54576, -56.44642);
  }
  43% {
    -webkit-transform: matrix(1, 0, 0, 1, -87.78371, -47.89593);
            transform: matrix(1, 0, 0, 1, -87.78371, -47.89593);
  }
  44% {
    -webkit-transform: matrix(1, 0, 0, 1, -92.13902, -38.86387);
            transform: matrix(1, 0, 0, 1, -92.13902, -38.86387);
  }
  45% {
    -webkit-transform: matrix(1, 0, 0, 1, -95.56791, -29.44104);
            transform: matrix(1, 0, 0, 1, -95.56791, -29.44104);
  }
  46% {
    -webkit-transform: matrix(1, 0, 0, 1, -98.03589, -19.7222);
            transform: matrix(1, 0, 0, 1, -98.03589, -19.7222);
  }
  47% {
    -webkit-transform: matrix(1, 0, 0, 1, -99.51814, -9.80505);
            transform: matrix(1, 0, 0, 1, -99.51814, -9.80505);
  }
  48% {
    -webkit-transform: matrix(1, 0, 0, 1, -99.99978, 0.21069);
            transform: matrix(1, 0, 0, 1, -99.99978, 0.21069);
  }
  49% {
    -webkit-transform: matrix(1, 0, 0, 1, -99.47594, 10.22431);
            transform: matrix(1, 0, 0, 1, -99.47594, 10.22431);
  }
  50% {
    -webkit-transform: matrix(1, 0, 0, 1, -97.95191, 20.13512);
            transform: matrix(1, 0, 0, 1, -97.95191, 20.13512);
  }
  51% {
    -webkit-transform: matrix(1, 0, 0, 1, -95.443, 29.84348);
            transform: matrix(1, 0, 0, 1, -95.443, 29.84348);
  }
  52% {
    -webkit-transform: matrix(1, 0, 0, 1, -91.97444, 39.25178);
            transform: matrix(1, 0, 0, 1, -91.97444, 39.25178);
  }
  53% {
    -webkit-transform: matrix(1, 0, 0, 1, -87.58111, 48.26541);
            transform: matrix(1, 0, 0, 1, -87.58111, 48.26541);
  }
  54% {
    -webkit-transform: matrix(1, 0, 0, 1, -82.30717, 56.79375);
            transform: matrix(1, 0, 0, 1, -82.30717, 56.79375);
  }
  55% {
    -webkit-transform: matrix(1, 0, 0, 1, -76.20566, 64.75104);
            transform: matrix(1, 0, 0, 1, -76.20566, 64.75104);
  }
  56% {
    -webkit-transform: matrix(1, 0, 0, 1, -69.33793, 72.05728);
            transform: matrix(1, 0, 0, 1, -69.33793, 72.05728);
  }
  57% {
    -webkit-transform: matrix(1, 0, 0, 1, -61.77302, 78.63901);
            transform: matrix(1, 0, 0, 1, -61.77302, 78.63901);
  }
}
@-webkit-keyframes matrix-circular-rotation-reserve {
  1% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 100);
            transform: matrix(1, 0, 0, 1, 0, 100);
  }
  2% {
    -webkit-transform: matrix(1, 0, 0, 1, -9.98334, 99.50042);
            transform: matrix(1, 0, 0, 1, -9.98334, 99.50042);
  }
  3% {
    -webkit-transform: matrix(1, 0, 0, 1, -19.89772, 98.00041);
            transform: matrix(1, 0, 0, 1, -19.89772, 98.00041);
  }
  4% {
    -webkit-transform: matrix(1, 0, 0, 1, -29.61213, 95.51503);
            transform: matrix(1, 0, 0, 1, -29.61213, 95.51503);
  }
  5% {
    -webkit-transform: matrix(1, 0, 0, 1, -39.02881, 92.06928);
            transform: matrix(1, 0, 0, 1, -39.02881, 92.06928);
  }
  6% {
    -webkit-transform: matrix(1, 0, 0, 1, -48.05306, 87.6978);
            transform: matrix(1, 0, 0, 1, -48.05306, 87.6978);
  }
  7% {
    -webkit-transform: matrix(1, 0, 0, 1, -56.59415, 82.44454);
            transform: matrix(1, 0, 0, 1, -56.59415, 82.44454);
  }
  8% {
    -webkit-transform: matrix(1, 0, 0, 1, -64.5662, 76.36233);
            transform: matrix(1, 0, 0, 1, -64.5662, 76.36233);
  }
  9% {
    -webkit-transform: matrix(1, 0, 0, 1, -71.88906, 69.51232);
            transform: matrix(1, 0, 0, 1, -71.88906, 69.51232);
  }
  10% {
    -webkit-transform: matrix(1, 0, 0, 1, -78.4891, 61.96339);
            transform: matrix(1, 0, 0, 1, -78.4891, 61.96339);
  }
  11% {
    -webkit-transform: matrix(1, 0, 0, 1, -84.29995, 53.79143);
            transform: matrix(1, 0, 0, 1, -84.29995, 53.79143);
  }
  12% {
    -webkit-transform: matrix(1, 0, 0, 1, -89.2632, 45.07861);
            transform: matrix(1, 0, 0, 1, -89.2632, 45.07861);
  }
  13% {
    -webkit-transform: matrix(1, 0, 0, 1, -93.32893, 35.91255);
            transform: matrix(1, 0, 0, 1, -93.32893, 35.91255);
  }
  14% {
    -webkit-transform: matrix(1, 0, 0, 1, -96.45627, 26.38539);
            transform: matrix(1, 0, 0, 1, -96.45627, 26.38539);
  }
  15% {
    -webkit-transform: matrix(1, 0, 0, 1, -98.61376, 16.59294);
            transform: matrix(1, 0, 0, 1, -98.61376, 16.59294);
  }
  16% {
    -webkit-transform: matrix(1, 0, 0, 1, -99.77973, 6.63365);
            transform: matrix(1, 0, 0, 1, -99.77973, 6.63365);
  }
  17% {
    -webkit-transform: matrix(1, 0, 0, 1, -99.94244, -3.39234);
            transform: matrix(1, 0, 0, 1, -99.94244, -3.39234);
  }
  18% {
    -webkit-transform: matrix(1, 0, 0, 1, -99.10027, -13.38422);
            transform: matrix(1, 0, 0, 1, -99.10027, -13.38422);
  }
  19% {
    -webkit-transform: matrix(1, 0, 0, 1, -97.26166, -23.24153);
            transform: matrix(1, 0, 0, 1, -97.26166, -23.24153);
  }
  20% {
    -webkit-transform: matrix(1, 0, 0, 1, -94.44513, -32.86515);
            transform: matrix(1, 0, 0, 1, -94.44513, -32.86515);
  }
  21% {
    -webkit-transform: matrix(1, 0, 0, 1, -90.67897, -42.15832);
            transform: matrix(1, 0, 0, 1, -90.67897, -42.15832);
  }
  22% {
    -webkit-transform: matrix(1, 0, 0, 1, -86.00107, -51.0276);
            transform: matrix(1, 0, 0, 1, -86.00107, -51.0276);
  }
  23% {
    -webkit-transform: matrix(1, 0, 0, 1, -80.45845, -59.38381);
            transform: matrix(1, 0, 0, 1, -80.45845, -59.38381);
  }
  24% {
    -webkit-transform: matrix(1, 0, 0, 1, -74.10685, -67.14294);
            transform: matrix(1, 0, 0, 1, -74.10685, -67.14294);
  }
  25% {
    -webkit-transform: matrix(1, 0, 0, 1, -67.01013, -74.22697);
            transform: matrix(1, 0, 0, 1, -67.01013, -74.22697);
  }
  26% {
    -webkit-transform: matrix(1, 0, 0, 1, -59.23964, -80.56467);
            transform: matrix(1, 0, 0, 1, -59.23964, -80.56467);
  }
  27% {
    -webkit-transform: matrix(1, 0, 0, 1, -50.87351, -86.09231);
            transform: matrix(1, 0, 0, 1, -50.87351, -86.09231);
  }
  28% {
    -webkit-transform: matrix(1, 0, 0, 1, -41.99587, -90.75432);
            transform: matrix(1, 0, 0, 1, -41.99587, -90.75432);
  }
  29% {
    -webkit-transform: matrix(1, 0, 0, 1, -32.69597, -94.50383);
            transform: matrix(1, 0, 0, 1, -32.69597, -94.50383);
  }
  30% {
    -webkit-transform: matrix(1, 0, 0, 1, -23.06732, -97.30313);
            transform: matrix(1, 0, 0, 1, -23.06732, -97.30313);
  }
  31% {
    -webkit-transform: matrix(1, 0, 0, 1, -13.20674, -99.12407);
            transform: matrix(1, 0, 0, 1, -13.20674, -99.12407);
  }
  32% {
    -webkit-transform: matrix(1, 0, 0, 1, -3.21336, -99.94836);
            transform: matrix(1, 0, 0, 1, -3.21336, -99.94836);
  }
  33% {
    -webkit-transform: matrix(1, 0, 0, 1, 6.81232, -99.76769);
            transform: matrix(1, 0, 0, 1, 6.81232, -99.76769);
  }
  34% {
    -webkit-transform: matrix(1, 0, 0, 1, 16.7695, -98.58389);
            transform: matrix(1, 0, 0, 1, 16.7695, -98.58389);
  }
  35% {
    -webkit-transform: matrix(1, 0, 0, 1, 26.55808, -96.40886);
            transform: matrix(1, 0, 0, 1, 26.55808, -96.40886);
  }
  36% {
    -webkit-transform: matrix(1, 0, 0, 1, 36.07962, -93.26447);
            transform: matrix(1, 0, 0, 1, 36.07962, -93.26447);
  }
  37% {
    -webkit-transform: matrix(1, 0, 0, 1, 45.23839, -89.18233);
            transform: matrix(1, 0, 0, 1, 45.23839, -89.18233);
  }
  38% {
    -webkit-transform: matrix(1, 0, 0, 1, 53.9423, -84.20349);
            transform: matrix(1, 0, 0, 1, 53.9423, -84.20349);
  }
  39% {
    -webkit-transform: matrix(1, 0, 0, 1, 62.10384, -78.37801);
            transform: matrix(1, 0, 0, 1, 62.10384, -78.37801);
  }
  40% {
    -webkit-transform: matrix(1, 0, 0, 1, 69.64094, -71.76447);
            transform: matrix(1, 0, 0, 1, 69.64094, -71.76447);
  }
  41% {
    -webkit-transform: matrix(1, 0, 0, 1, 76.47783, -64.42935);
            transform: matrix(1, 0, 0, 1, 76.47783, -64.42935);
  }
  42% {
    -webkit-transform: matrix(1, 0, 0, 1, 82.54576, -56.44642);
            transform: matrix(1, 0, 0, 1, 82.54576, -56.44642);
  }
  43% {
    -webkit-transform: matrix(1, 0, 0, 1, 87.78371, -47.89593);
            transform: matrix(1, 0, 0, 1, 87.78371, -47.89593);
  }
  44% {
    -webkit-transform: matrix(1, 0, 0, 1, 92.13902, -38.86387);
            transform: matrix(1, 0, 0, 1, 92.13902, -38.86387);
  }
  45% {
    -webkit-transform: matrix(1, 0, 0, 1, 95.56791, -29.44104);
            transform: matrix(1, 0, 0, 1, 95.56791, -29.44104);
  }
  46% {
    -webkit-transform: matrix(1, 0, 0, 1, 98.03589, -19.7222);
            transform: matrix(1, 0, 0, 1, 98.03589, -19.7222);
  }
  47% {
    -webkit-transform: matrix(1, 0, 0, 1, 99.51814, -9.80505);
            transform: matrix(1, 0, 0, 1, 99.51814, -9.80505);
  }
  48% {
    -webkit-transform: matrix(1, 0, 0, 1, 99.99978, 0.21069);
            transform: matrix(1, 0, 0, 1, 99.99978, 0.21069);
  }
  49% {
    -webkit-transform: matrix(1, 0, 0, 1, 99.47594, 10.22431);
            transform: matrix(1, 0, 0, 1, 99.47594, 10.22431);
  }
  50% {
    -webkit-transform: matrix(1, 0, 0, 1, 97.95191, 20.13512);
            transform: matrix(1, 0, 0, 1, 97.95191, 20.13512);
  }
  51% {
    -webkit-transform: matrix(1, 0, 0, 1, 95.443, 29.84348);
            transform: matrix(1, 0, 0, 1, 95.443, 29.84348);
  }
  52% {
    -webkit-transform: matrix(1, 0, 0, 1, 91.97444, 39.25178);
            transform: matrix(1, 0, 0, 1, 91.97444, 39.25178);
  }
  53% {
    -webkit-transform: matrix(1, 0, 0, 1, 87.58111, 48.26541);
            transform: matrix(1, 0, 0, 1, 87.58111, 48.26541);
  }
  54% {
    -webkit-transform: matrix(1, 0, 0, 1, 82.30717, 56.79375);
            transform: matrix(1, 0, 0, 1, 82.30717, 56.79375);
  }
  55% {
    -webkit-transform: matrix(1, 0, 0, 1, 76.20566, 64.75104);
            transform: matrix(1, 0, 0, 1, 76.20566, 64.75104);
  }
  56% {
    -webkit-transform: matrix(1, 0, 0, 1, 69.33793, 72.05728);
            transform: matrix(1, 0, 0, 1, 69.33793, 72.05728);
  }
  57% {
    -webkit-transform: matrix(1, 0, 0, 1, 61.77302, 78.63901);
            transform: matrix(1, 0, 0, 1, 61.77302, 78.63901);
  }
}
@keyframes matrix-circular-rotation-reserve {
  1% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 100);
            transform: matrix(1, 0, 0, 1, 0, 100);
  }
  2% {
    -webkit-transform: matrix(1, 0, 0, 1, -9.98334, 99.50042);
            transform: matrix(1, 0, 0, 1, -9.98334, 99.50042);
  }
  3% {
    -webkit-transform: matrix(1, 0, 0, 1, -19.89772, 98.00041);
            transform: matrix(1, 0, 0, 1, -19.89772, 98.00041);
  }
  4% {
    -webkit-transform: matrix(1, 0, 0, 1, -29.61213, 95.51503);
            transform: matrix(1, 0, 0, 1, -29.61213, 95.51503);
  }
  5% {
    -webkit-transform: matrix(1, 0, 0, 1, -39.02881, 92.06928);
            transform: matrix(1, 0, 0, 1, -39.02881, 92.06928);
  }
  6% {
    -webkit-transform: matrix(1, 0, 0, 1, -48.05306, 87.6978);
            transform: matrix(1, 0, 0, 1, -48.05306, 87.6978);
  }
  7% {
    -webkit-transform: matrix(1, 0, 0, 1, -56.59415, 82.44454);
            transform: matrix(1, 0, 0, 1, -56.59415, 82.44454);
  }
  8% {
    -webkit-transform: matrix(1, 0, 0, 1, -64.5662, 76.36233);
            transform: matrix(1, 0, 0, 1, -64.5662, 76.36233);
  }
  9% {
    -webkit-transform: matrix(1, 0, 0, 1, -71.88906, 69.51232);
            transform: matrix(1, 0, 0, 1, -71.88906, 69.51232);
  }
  10% {
    -webkit-transform: matrix(1, 0, 0, 1, -78.4891, 61.96339);
            transform: matrix(1, 0, 0, 1, -78.4891, 61.96339);
  }
  11% {
    -webkit-transform: matrix(1, 0, 0, 1, -84.29995, 53.79143);
            transform: matrix(1, 0, 0, 1, -84.29995, 53.79143);
  }
  12% {
    -webkit-transform: matrix(1, 0, 0, 1, -89.2632, 45.07861);
            transform: matrix(1, 0, 0, 1, -89.2632, 45.07861);
  }
  13% {
    -webkit-transform: matrix(1, 0, 0, 1, -93.32893, 35.91255);
            transform: matrix(1, 0, 0, 1, -93.32893, 35.91255);
  }
  14% {
    -webkit-transform: matrix(1, 0, 0, 1, -96.45627, 26.38539);
            transform: matrix(1, 0, 0, 1, -96.45627, 26.38539);
  }
  15% {
    -webkit-transform: matrix(1, 0, 0, 1, -98.61376, 16.59294);
            transform: matrix(1, 0, 0, 1, -98.61376, 16.59294);
  }
  16% {
    -webkit-transform: matrix(1, 0, 0, 1, -99.77973, 6.63365);
            transform: matrix(1, 0, 0, 1, -99.77973, 6.63365);
  }
  17% {
    -webkit-transform: matrix(1, 0, 0, 1, -99.94244, -3.39234);
            transform: matrix(1, 0, 0, 1, -99.94244, -3.39234);
  }
  18% {
    -webkit-transform: matrix(1, 0, 0, 1, -99.10027, -13.38422);
            transform: matrix(1, 0, 0, 1, -99.10027, -13.38422);
  }
  19% {
    -webkit-transform: matrix(1, 0, 0, 1, -97.26166, -23.24153);
            transform: matrix(1, 0, 0, 1, -97.26166, -23.24153);
  }
  20% {
    -webkit-transform: matrix(1, 0, 0, 1, -94.44513, -32.86515);
            transform: matrix(1, 0, 0, 1, -94.44513, -32.86515);
  }
  21% {
    -webkit-transform: matrix(1, 0, 0, 1, -90.67897, -42.15832);
            transform: matrix(1, 0, 0, 1, -90.67897, -42.15832);
  }
  22% {
    -webkit-transform: matrix(1, 0, 0, 1, -86.00107, -51.0276);
            transform: matrix(1, 0, 0, 1, -86.00107, -51.0276);
  }
  23% {
    -webkit-transform: matrix(1, 0, 0, 1, -80.45845, -59.38381);
            transform: matrix(1, 0, 0, 1, -80.45845, -59.38381);
  }
  24% {
    -webkit-transform: matrix(1, 0, 0, 1, -74.10685, -67.14294);
            transform: matrix(1, 0, 0, 1, -74.10685, -67.14294);
  }
  25% {
    -webkit-transform: matrix(1, 0, 0, 1, -67.01013, -74.22697);
            transform: matrix(1, 0, 0, 1, -67.01013, -74.22697);
  }
  26% {
    -webkit-transform: matrix(1, 0, 0, 1, -59.23964, -80.56467);
            transform: matrix(1, 0, 0, 1, -59.23964, -80.56467);
  }
  27% {
    -webkit-transform: matrix(1, 0, 0, 1, -50.87351, -86.09231);
            transform: matrix(1, 0, 0, 1, -50.87351, -86.09231);
  }
  28% {
    -webkit-transform: matrix(1, 0, 0, 1, -41.99587, -90.75432);
            transform: matrix(1, 0, 0, 1, -41.99587, -90.75432);
  }
  29% {
    -webkit-transform: matrix(1, 0, 0, 1, -32.69597, -94.50383);
            transform: matrix(1, 0, 0, 1, -32.69597, -94.50383);
  }
  30% {
    -webkit-transform: matrix(1, 0, 0, 1, -23.06732, -97.30313);
            transform: matrix(1, 0, 0, 1, -23.06732, -97.30313);
  }
  31% {
    -webkit-transform: matrix(1, 0, 0, 1, -13.20674, -99.12407);
            transform: matrix(1, 0, 0, 1, -13.20674, -99.12407);
  }
  32% {
    -webkit-transform: matrix(1, 0, 0, 1, -3.21336, -99.94836);
            transform: matrix(1, 0, 0, 1, -3.21336, -99.94836);
  }
  33% {
    -webkit-transform: matrix(1, 0, 0, 1, 6.81232, -99.76769);
            transform: matrix(1, 0, 0, 1, 6.81232, -99.76769);
  }
  34% {
    -webkit-transform: matrix(1, 0, 0, 1, 16.7695, -98.58389);
            transform: matrix(1, 0, 0, 1, 16.7695, -98.58389);
  }
  35% {
    -webkit-transform: matrix(1, 0, 0, 1, 26.55808, -96.40886);
            transform: matrix(1, 0, 0, 1, 26.55808, -96.40886);
  }
  36% {
    -webkit-transform: matrix(1, 0, 0, 1, 36.07962, -93.26447);
            transform: matrix(1, 0, 0, 1, 36.07962, -93.26447);
  }
  37% {
    -webkit-transform: matrix(1, 0, 0, 1, 45.23839, -89.18233);
            transform: matrix(1, 0, 0, 1, 45.23839, -89.18233);
  }
  38% {
    -webkit-transform: matrix(1, 0, 0, 1, 53.9423, -84.20349);
            transform: matrix(1, 0, 0, 1, 53.9423, -84.20349);
  }
  39% {
    -webkit-transform: matrix(1, 0, 0, 1, 62.10384, -78.37801);
            transform: matrix(1, 0, 0, 1, 62.10384, -78.37801);
  }
  40% {
    -webkit-transform: matrix(1, 0, 0, 1, 69.64094, -71.76447);
            transform: matrix(1, 0, 0, 1, 69.64094, -71.76447);
  }
  41% {
    -webkit-transform: matrix(1, 0, 0, 1, 76.47783, -64.42935);
            transform: matrix(1, 0, 0, 1, 76.47783, -64.42935);
  }
  42% {
    -webkit-transform: matrix(1, 0, 0, 1, 82.54576, -56.44642);
            transform: matrix(1, 0, 0, 1, 82.54576, -56.44642);
  }
  43% {
    -webkit-transform: matrix(1, 0, 0, 1, 87.78371, -47.89593);
            transform: matrix(1, 0, 0, 1, 87.78371, -47.89593);
  }
  44% {
    -webkit-transform: matrix(1, 0, 0, 1, 92.13902, -38.86387);
            transform: matrix(1, 0, 0, 1, 92.13902, -38.86387);
  }
  45% {
    -webkit-transform: matrix(1, 0, 0, 1, 95.56791, -29.44104);
            transform: matrix(1, 0, 0, 1, 95.56791, -29.44104);
  }
  46% {
    -webkit-transform: matrix(1, 0, 0, 1, 98.03589, -19.7222);
            transform: matrix(1, 0, 0, 1, 98.03589, -19.7222);
  }
  47% {
    -webkit-transform: matrix(1, 0, 0, 1, 99.51814, -9.80505);
            transform: matrix(1, 0, 0, 1, 99.51814, -9.80505);
  }
  48% {
    -webkit-transform: matrix(1, 0, 0, 1, 99.99978, 0.21069);
            transform: matrix(1, 0, 0, 1, 99.99978, 0.21069);
  }
  49% {
    -webkit-transform: matrix(1, 0, 0, 1, 99.47594, 10.22431);
            transform: matrix(1, 0, 0, 1, 99.47594, 10.22431);
  }
  50% {
    -webkit-transform: matrix(1, 0, 0, 1, 97.95191, 20.13512);
            transform: matrix(1, 0, 0, 1, 97.95191, 20.13512);
  }
  51% {
    -webkit-transform: matrix(1, 0, 0, 1, 95.443, 29.84348);
            transform: matrix(1, 0, 0, 1, 95.443, 29.84348);
  }
  52% {
    -webkit-transform: matrix(1, 0, 0, 1, 91.97444, 39.25178);
            transform: matrix(1, 0, 0, 1, 91.97444, 39.25178);
  }
  53% {
    -webkit-transform: matrix(1, 0, 0, 1, 87.58111, 48.26541);
            transform: matrix(1, 0, 0, 1, 87.58111, 48.26541);
  }
  54% {
    -webkit-transform: matrix(1, 0, 0, 1, 82.30717, 56.79375);
            transform: matrix(1, 0, 0, 1, 82.30717, 56.79375);
  }
  55% {
    -webkit-transform: matrix(1, 0, 0, 1, 76.20566, 64.75104);
            transform: matrix(1, 0, 0, 1, 76.20566, 64.75104);
  }
  56% {
    -webkit-transform: matrix(1, 0, 0, 1, 69.33793, 72.05728);
            transform: matrix(1, 0, 0, 1, 69.33793, 72.05728);
  }
  57% {
    -webkit-transform: matrix(1, 0, 0, 1, 61.77302, 78.63901);
            transform: matrix(1, 0, 0, 1, 61.77302, 78.63901);
  }
}


.yin-yang {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) perspective( 600px) rotateX(45deg);
	width: 300px;
	height: 300px;
	border-radius: 50%;
	animation: spin 5s infinite linear;
}

.yin-yang:before {
	content: "";
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	box-shadow: 0px 0px 1px #000;
	background: #fff;
	border: 60px solid #000;
}

.yin-yang:after {
	content: "";
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	box-shadow: 0px 0px 1px #fff;
	background: #000;
	border: 60px solid #fff;
}

.yin {
	float: right;
	width: 150px;
	height: 300px;
	background: #000;
	border-radius: 0 360px 360px 0;
}

.yang {
	float: left;
	width: 150px;
	height: 300px;
	background: #fff;
	border-radius: 360px 0 0 360px;
}

.container {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) perspective( 600px) rotateX(45deg);
	width: 300px;
	height: 300px;
	background: #666;
	box-shadow: 0 24px 0 -0.65vh #1a1a1a;
	border: 12px solid #595959;
	border-radius: 50%;
}

.glossy {
	position: absolute;
	z-index: 3;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) perspective( 600px) rotateX(45deg);
	width: 324px;
	height: 324px;
	background: linear-gradient(111deg, rgba(0, 0, 0, 0.1) 50%, rgba(255, 255, 255, 0.5) 100%);
	border-radius: 50%;
}

@keyframes spin {
	from {
		transform: translate(-50%, -50%) perspective( 600px) rotateX(45deg) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) perspective( 600px) rotateX(45deg) rotate(360deg);
	}
}
